name: Android CI

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Init Properties
        run: |
          echo "sdk.dir=$ANDROID_SDK_ROOT" > local.properties
          echo "applicationId=com.test.demo2" >> local.properties
          echo "compileSdk=33" >> local.properties
          # 增加内存，防止 4核/6GB 环境下常见的编译溢出
          echo "org.gradle.jvmargs=-Xmx3072m" >> gradle.properties
          echo "kotlin.jvm.target=17" >> gradle.properties

      - name: Grant Execute Permission
        run: chmod +x gradlew

      - name: Build Debug APK
        # 使用 --no-daemon 减少内存占用，-x lint 跳过严格的代码检查
        run: ./gradlew assembleDebug -x lint -x test --stacktrace --no-daemon

      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: TsChat-Debug
          path: "**/build/outputs/apk/debug/*.apk"
